.messageBubble {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  padding: 2rem 2.5rem;
  border-radius: 1.25rem;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  word-wrap: break-word;
}

.mine {
  background-color: #e5e5ea;
  color: black;
  align-self: flex-end;
  border-bottom-left-radius: 0.5rem;
}

.other {
  background-color: #e5e5ea;
  color: black;
  align-self: flex-start;
  border-bottom-left-radius: 0.5rem;
}

.content {
  font-size: 1.6rem;
  line-height: 1.5;
}

.content ul,
.content ol {
  padding-left: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.time {
  font-size: 1rem;
  text-align: right;
  margin-top: 0.5rem;
  opacity: 0.8;
}

.mine .time {
  color: #6d6d72;
}

.other .time {
  color: #6d6d72;
}
