.Orange {
  width: 20rem;
  height: 5rem;
  background-color: orange;
  border-radius: 2.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
