.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skeletonItem {
  list-style: none;
}

.skeleton {
  background: #f8f9fa;
  height: 100px;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #e9ecef;
}
