.Questditail {
  width: 100%;
  max-width: 800px;
  border-radius: 1.5rem;
  border: black solid;
  padding: 3rem;

  .title {
    font-size: 2rem;
    border-left: 1.5rem blue solid;
    padding-left: 1rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .text {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}
